/* google font */
.raleway {
  font-family: "Raleway", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

/* Shared style */
.primary_color {
  color: #4e47ff;
}
.btn_style {
  color: whitesmoke;
  background-color: #4e47ff;
  border-radius: 5px;
  padding: 8px 20px;
  border: none;
  transition-duration: 1.5s;
}
button:hover {
  scale: 1.18;
  background-color: #7c44d8;
  border-color: #0ff;
  box-shadow: 0 0 10px #4e47ff, 0 0 15px #4e47ff, 0 0 25px #4e47ff;
}

/* header section */
header {
  background-image: url("../assets/Hero-bg.png");
  height: 70vh;
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}
nav h1 {
  color: #4e47ff;
  font-weight: 800;
  font-size: 1.7rem;
}
.hero-div {
  text-align: center;
  padding-top: 20px;
}
.hero-div h4 {
  font-size: 2.5rem;
  color: #252432;
  margin-bottom: 20px;
}

/* See It in Action */
.action {
  width: 80%;
  margin: 80px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.action div h4 {
  color: #252432;
  font-size: 1.5rem;
}
.action div p {
  color: gray;
  font-size: small;
  font-weight: 500;
  margin: 15px 0;
}
.img-div {
  text-align: end;
}
.img {
  width: 50%;
  border-radius: 10px;
}

/* Productive Users */
.productive {
  background-color: #e5e7ff;
  width: 80%;
  margin: 80px auto;
  border-radius: 5px;
}
.productive-title {
  color: #252432;
  font-size: 1.5rem;
  text-align: center;
  padding: 25px 0;
}
.productive-div {
  justify-content: space-around;
  display: flex;
  padding: 20px 0;
}
.ph4 {
  font-size: 3rem;
  font-weight: 900;
  color: #4e47ff;
}
.pro-p {
  font-size: small;
  color: gray;
  padding: 5px 0;
}
